@inport url('');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}
body
{
  min-height: 100vh;
  background: #6eb2d1;
}
header 
{
  color: aliceblue;
  
}
.encabezado1
{
  color: #fff;
  font-weight: 400;
  margin-bottom: -10px;
  padding: 5px;
}
body header p{
  color: aliceblue;
  margin-top: 20px;
  margin-left: 100px;
  padding: 3px;
}
 
.navigation
{
  position: fixed;
  width: 60px;
  height: 100%;
  background: #ff80c0;
  transition: 0.5s;
  overflow: hidden;
}
.navigation:hover,
.navigation.active
{
  width: 200px;
}
.navigation ul
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.navigation ul li
{
  position: relative;
  width: 100%;
  list-style: none;
}
.navigation ul li:hover
{
  background: #e736ac;
}
.navigation ul li a
{
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #fff; 
}
.navigation ul li a .icon
{
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.navigation ul li a .icon .fa
{
  font-size: 20px;
}
.navigation ul li a .title
{
  position: relative;
  display: block;
  padding: 0 5px;
  height: 60px;
  line-height: 60px;
  font-size:12px;
  text-align: start;
  white-space: nowrap;
}
.toggle
{
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background: #330748;
  cursor: pointer;
}
.toggle.active 
{
  background: #e645b0;
}
.toggle:before
{
  content: '\f0c9';
  font-family: fontAwesome;
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 60px;
  text-align: center;
  font-size: 18px;
  color:#fff;
}
.toggle.active:before
{
  content: '\f00d';
}
@media (max-widht: 767px)
{
  .navigation
  {
    left: -50px;
  }
  .navigation.active 
  {
    left: 0px;
    width: 100%;
  }
}
.main-section
{ 
  margin-top: 50PX;
  margin-left: 100px;
  padding: 10px;
}