/* Custom properties/variables  */
:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
}
@import url();
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
.sec
{
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(#03a9f4,#e91e63);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
}
.custom-shape-divider-bottom-1602179797 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1602179797 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1602179797 .shape-fill {
  fill: #FFFFFF;
}
header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo 
{
  font-size: 2em;
  color:#fff;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
header .navigation
{
  position: relative;
  display: flex;
}
header .navigation li
{
  list-style: none;
}
header .navigation li a
{
  color: #fff;
  margin-left: 40px;
  text-decoration: none;
}
.content
{
  position: relative;
  max-width: 600px;
  z-index: 1;
}
.content h2
{
  color: #fff;
  font-size: 5em;
  line-height: 1em;
}
.content h2 span
{
  color:#fff;
  font-size: 0.7em;
}
.content p
{
  color:#fff;
  margin: 10px 0 20px;
}
.content a
{
  padding: 10px 30px;
  background: #fff;
  display: inline-block;
  text-decoration: none;
  color: #111;
}
.bunny
{
  position: absolute;
  bottom: 0;
  height: 80%;
  right: 100px;
}
@media (max-width: 991px)
{
  header
  {
    padding: 20px 40px;
  }
  header ul.navigation
  {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background: linear-gradient(#03a9f4,#e91e63);z-index: 100;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
  }
  header ul.navigation.active
  {
    display: flex;
  }
  header .navigation li a 
  {
    color: #fff;
    margin-left: 0;
    text-decoration: none;
    font-size: 30px;
    padding: 100px;
    letter-spacing: 1px;
  }
  header .toggleMenu
  {
    position:relative;
    width: 30px;
    height: 30px;
    background: url("https://th.bing.com/th/id/OIP.RLFBsKPISI7huYBj2nwCbgHaHa?pid=Api&rs=1");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    z-index: 1000;
  }
  header .toggleMenu.active
  {
    position: fixed;
    right: 40px;
    background: url("https://docs.updatefactory.io/images/close-x.png");
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    font-kerning: 20px;
  }
  .sec 
  {
    justify-content: center;
    padding: 40px 40px 0;
    flex-direction: column;
  }
  .content
  {
    max-width: 100%;
    margin-top: 120px;
  }
  .content h2 
  {
    font-size: 3em;
  }
  .bunny
  {
    position: relative;
    bottom: 0;
    height: initial;
    right: initial;
    width: 80%;
    margin-top: 20px;
  }
}
/*aqui comienza el css de las tarjetas*/
.container
{
  
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
 
}
.container .card
{
  
  position: relative;
  max-width: 300px;
  height: 420px;
  background: #fff;
  margin: 140px  10px 0px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px -20px rgba (0,0,0,0.5);
  transition: 0.3s ease-in-out;

}

.container .card:hover
{
  height: 420px;
}
.container .card .imgBx
{
  margin-top: 30px;
  position: relative;
  width: 260px;
  height: 260px;
  top: -60px;
  left: 20px;
  z-index: 2;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);  

}
.container .card .imgBx img
{
  max-width: 100%;
  border-radius: 4px;
 
}
.container .card .context
{
  
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.container .card:hover .context
{
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}
button
{
  background-color: aquamarine;
  
}
button:hover {
  background-color: rgb(12, 226, 94);
  transition: background-color 1s;
}
.btn
{
  width:100px;
  margin-left: 100px;
  font-size: .5em;
  margin-top: 50px;
  padding: 10px;
  border-radius: 20px;
  text-transform: uppercase;
  cursor: pointer;
  
}
/*aqui termina el css de las tarjetas*/

/*Inicio de botón mostrar todos los proyectos*/
.btn2 {
  display: inline-block;
  margin-bottom: 100px ;
  padding: .5rem 1rem;
  border-radius: 50px;
  color: pink;
  text-decoration: none;
  flex-direction: column;
}

.btn-show-all {
  font-size: 2rem;
  background: var(--main-gray);
  transition: background 0.3s ease-out;
}

.btn-show-all:hover {
  background: var(--main-red);
}

.btn-show-all:hover > i {
  transform: translateX(2px);
}

.btn-show-all > i {
  margin-left: 10px;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}
*/
/*Fin de botón mostrar todos los proyectos*/


/* inicio footer-contacto*/
.footer {
  width: 100%;
  color: white;
  background-color: #1b2127;
  display:flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction:column;
}

.footer img {
  vertical-align: middle;
}

.footer a {
  color: white;
}

.event-list {
  display: flex;
  flex-wrap: wrap;
}
.event-list-title {
  margin-left: 20px;
}
.event { 
  margin: 1%;
  width: 48%;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  background: #f4fbff;
}
.event img {
  width: 480px;
  height: 200px;
  object-fit: cover;
}
.event-detail {
  margin: 20px 40px;
  margin-top: -40px;
  background-color: white;
  position: relative;
  padding: 20px;
  text-align: center;
}
.event-description {
  text-align: left;
}

.event-url {
  color: #056fff;
  border: 1px solid;
  padding: 5px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.contact {
  width: 100%;
  background-color: #056fff;
  color: white;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
 /* flex-direction: column;*/
}

.social {
}

.social-link {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  background-size: 50px 50px;
}

.social-link.twitter {
  background-image: url('../images/twitter.svg');
}
.social-link.facebook {
  background-image: url('../images/facebook.svg');
}
.social-link.github {
  background-image: url('../images/github.svg');
}
.social-link.instagram {
  background-image: url('../images/instagram.svg');
}


.form-email input {
  border-color: gray;
  border-style: solid;
  border-radius: 5px;
  padding: 10px 20px 10px 25px;
  background-image: url('../images/envelope.svg');
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
}

.form-email button {
  display: block;
  background: transparent;
  color: white;
  padding: 10px 0;
  border-radius: 5px;
  width: 100px;
  margin-top: 10px;
}

.form-email h3 { 
  font-family: 'Source Sans Pro', sans-serif;
}
.container2 {
  /* border: 1px solid red; */
  max-width:100% ;
  flex: 1;
  margin: 0 auto;
  padding: 15px 15px;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}

/*Fin footer contacto*/

@media (min-width: 460px)and(max-width: 1160px)
{
 a .btn2 .btn-show-all
  {
    background-color: red:
    flex-direction: column;
    width: 100%;
  }
}

/*contacto*/
#profile-link
{
  background: url("https://github.githubassets.com/images/modules/logos_page/Octocat.png");
  font-size: 1.5em;
  padding: 20px;
  margin: 20px 100px 30px 0;
  text-align: center;
  text-decoration: none;
}