@import url();
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
.sec
{
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(#03a9f4,#e91e63);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
}
.custom-shape-divider-bottom-1602179797 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1602179797 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1602179797 .shape-fill {
  fill: #FFFFFF;
}
header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo 
{
  font-size: 2em;
  color:#fff;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
header .navigation
{
  position: relative;
  display: flex;
}
header .navigation li
{
  list-style: none;
}
header .navigation li a
{
  color: #fff;
  margin-left: 40px;
  text-decoration: none;
}
.content
{
  position: relative;
  max-width: 600px;
  z-index: 1;
}
.content h2
{
  color: #fff;
  font-size: 5em;
  line-height: 1em;
}
.content h2 span
{
  color:#fff;
  font-size: 0.7em;
}
.content p
{
  color:#fff;
  margin: 10px 0 20px;
}
.content a
{
  padding: 10px 30px;
  background: #fff;
  display: inline-block;
  text-decoration: none;
  color: #111;
}
.bunny
{
  position: absolute;
  bottom: 0;
  height: 80%;
  right: 100px;
}
@media (max-width: 991px)
{
  header
  {
    padding: 20px 40px;
  }
  header ul.navigation
  {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background: linear-gradient(#03a9f4,#e91e63);z-index: 100;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
  }
  header ul.navigation.active
  {
    display: flex;
  }
  header .navigation li a 
  {
    color: #fff;
    margin-left: 0;
    text-decoration: none;
    font-size: 30px;
    padding: 100px;
    letter-spacing: 1px;
  }
  header .toggleMenu
  {
    position:relative;
    width: 30px;
    height: 30px;
    background: url("https://th.bing.com/th/id/OIP.RLFBsKPISI7huYBj2nwCbgHaHa?pid=Api&rs=1");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    z-index: 1000;
  }
  header .toggleMenu.active
  {
    position: fixed;
    right: 40px;
    background: url("https://docs.updatefactory.io/images/close-x.png");
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    font-kerning: 20px;
  }
  .sec 
  {
    justify-content: center;
    padding: 40px 40px 0;
    flex-direction: column;
  }
  .content
  {
    max-width: 100%;
    margin-top: 120px;
  }
  .content h2 
  {
    font-size: 3em;
  }
  .bunny
  {
    position: relative;
    bottom: 0;
    height: initial;
    right: initial;
    width: 80%;
    margin-top: 20px;
  }
}
/*aqui comienza el css de las tarjetas*/
.container
{
  
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
 
}
.container .card
{
  
  position: relative;
  max-width: 300px;
  height: 420px;
  background: #fff;
  margin: 140px  10px 0px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px -20px rgba (0,0,0,0.5);
  transition: 0.3s ease-in-out;

}

.container .card:hover
{
  height: 420px;
}
.container .card .imgBx
{
  margin-top: 30px;
  position: relative;
  width: 260px;
  height: 260px;
  top: -60px;
  left: 20px;
  z-index: 2;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);  

}
.container .card .imgBx img
{
  max-width: 100%;
  border-radius: 4px;
 
}
.container .card .context
{
  
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.container .card:hover .context
{
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}
button
{
  background-color: aquamarine;
  
}
button:hover {
  background-color: rgb(12, 226, 94);
  transition: background-color 1s;
}
.btn
{
  width:100px;
  margin-left: 100px;
  font-size: .5em;
  margin-top: 50px;
  padding: 10px;
  border-radius: 20px;
  text-transform: uppercase;
  cursor: pointer;
  
}
/*aqui termina el css de las tarjetas*/
