<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
*
{
  margin:0;
  padding:5px;
  box-sizing:border-box;
    }
.header
{
  background-color: rgb(229, 170, 231);
  
}
body
{
  min-height: 150vh;
} 

#title
{
font-family: 'Acme','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 font-size:4.5rem;
 color:white;
 ;
}
.centrada 
{
  text-align: center;
}

#img-div
{
  width: 100%;
  height:auto ;
  position: relative;
  max-width:100%;
  height:100vh;
  background: url(https://images.pexels.com/photos/4002636/pexels-photo-4002636.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500 );
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items:center;
  clip-path:circle(180vh at 50% -80vh);
  
  
}

@media (max-width: 460px) {
  .facet_sidebar {
    display: none;
  }
}

section .content 
{
  margin-top: 50%;
  font-size: 5em;
  color: #fff;
  font-weight: 700;
}
 
img {
  width: 50px;
  height: auto;
  padding: 0;
  
}
.logo
{
  margin-right: 90%;
  background-image: url("https://escutecomigo.files.wordpress.com/2013/03/pitagoras.gif");
  max-width:100% ;
  height:auto;
}

p
{
  text-align:justify;
  word-spacing: 10%;
}


div
{
  text-align: center;
  margin: 10px;
  background-color: rgb(247, 227, 202);
  padding:5px;
}

.footer{
  margin-width:10%;
  background-color:rgb(229, 170, 231);
  padding: 20px;
  
}
.footer h4{
  color:white;
  font-family:cursive;
}

 li {
  box-align: center;
}


/* *************inicio css de las tarjetas *************  */
.contenedor {
	max-width: 1200px;
	margin:50px auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.contenedor_tarjeta {
  margin-bottom: 50px;
  
}
.color_text
{
color:black;
}
.titulo
{
color:black;
}
.contenedor_tarjeta a {
	display: inline-block;
}

.contenedor_tarjeta:hover figure {
	transform: perspective(600px) rotateY(180deg);
	-webkit-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
	box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
}

.contenedor_tarjeta:hover figure img {
	/* Si queremos podemos aplicar un efecto blur a nuestra imagen al girar */
	/*filter:blur(2px);*/
}

figure {
	width: 300px;
	height: 350px;
	margin:0;
	position: relative;
	transition: all ease .5s;
	transform-style: preserve-3d;
	/* Nota:
		Establecemos que la imagen tendra una rotacion de 0grados al inicio porque si no
		ponemos esta propiedad nos da un poco de problemas en algunos navegadores al pasar el cursor.
	*/
	transform: perspective(600px) rotateY(0deg);
}

figure .frontal,
figure .trasera {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	transition: all ease .5s;
}

figure .frontal {
	display: block;
	background: #000;

	/* Podemos ocultar la imagen al da la vuelta si lo queremos */
	/*backface-visibility: hidden;*/
}

figure .trasera {
	position: absolute;
	top: 0;
	padding: 20px;
	color: #fff;
	transform: perspective(600px) rotateY(180deg);
	backface-visibility: hidden;
	overflow: auto;
}

.contenedor_tarjeta:nth-child(1) figure .trasera{
	background: rgba(223,234,241,0.7);
	background: -moz-linear-gradient(top, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(223,234,241,0.7)), color-stop(100%, rgba(15,99,144,1)));
	background: -webkit-linear-gradient(top, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	background: -o-linear-gradient(top, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	background: -ms-linear-gradient(top, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	background: linear-gradient(to bottom, rgba(223,234,241,0.7) 0%, rgba(15,99,144,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfeaf1', endColorstr='#0f6390', GradientType=0 );
}
p .leyenda 
{
  text-align: center;
  
}


/* Fin css de las tarjetas   */




